@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');

body {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    max-height: 700px;
    max-width: 1350px;

    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-align: start;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

button {
    background-color: transparent;
    border: none;
}

ul {
    padding: 0;
    list-style: none;
}

#history {
    width: 1299px;
    height: 667px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

table {
    width: 100%;
    border-spacing: 0;
}

table th {
    text-align: start;
}

table thead {
    background-color:#efefef;
}

table th:nth-child(1),
.table-item__body-row td:nth-child(1) {
    width: 5%;
}

table th:nth-child(2),
.table-item__body-row td:nth-child(2) {
    width: 17.5%;
}

table th:nth-child(3),
.table-item__body-row td:nth-child(3) {
    width: 17.5%;
}

table th:nth-child(4),
.table-item__body-row td:nth-child(4) {
    width: 18%;
}

table th:nth-child(5),
.table-item__body-row td:nth-child(5) {
    width: 23%;
}

table th:nth-child(6),
.table-item__body-row td:nth-child(6) {
    width: 18%;
}

.table-item__body-info td {
    width: 100%;
}

.history__wrapper {
    margin: 9px 19px;
    margin-left: 35px;
}

.history-header {
    margin-bottom: 13px;
}

.history-header__search {
    display: flex;
}

.history-header__table {
    padding-right: 30px;
}

.history-header__table tbody td {
    padding-left: 5px;
}

.history-header__table td:nth-child(1) {
    width: 5%;
}

.history-header__table td:nth-child(2) {
    width: 52%;
}

.history-header__table td:nth-child(3) {
    width: 40%;
}

.history-header__search p {
    margin: 0;
    margin-right: 13px;
}

.history-header__search input {
    position: relative;

    width: 298px;
    height: 21px;

    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 10px;

    background-image: url("./images/search-icon.png");
    background-repeat: no-repeat;
    background-position: 277px 3px;
}

.history-header__filters {
    display: flex;
    justify-content: flex-start;
    flex-grow: 2;
}

.history-header__filters div {
    display: flex;
    position: relative;
    margin-right: 35px;
}

.history-header__filters label {
    position: relative;
}

.history-header__filters input {
    position: absolute;

    width: 1px;
    height: 1px;
    right: -23px;
    margin: 10px;
    border: 0;
    padding: 0;

    outline: none;
}

.history-header__filters input[type="radio"]::after {
    content: "";

    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 2;
    top: -5px;
    margin-left: -5px;

    background-color: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #EBEBEB;
    box-sizing: border-box;
}

.history-header__filters input[type="radio"]:checked::after {
    border: none;
    background: #BBBBBB;
}

.history-body__to-down::after {
    content: "";

    position: absolute;

    bottom: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    background-image: url(./images/to-down-icon.png);
}

.history-body {
    position: relative;
    table-layout: fixed;

    font-size: 18px;
    line-height: 23px;
}

.history-body .history-body__head {
    padding-right: 30px;
}

.history-body thead th {
    font-weight: 400;
    padding-left: 7px;
    padding-top: 4px;
    padding-bottom: 6px;
}

.history-body thead th:nth-child(1){
    background-color: #FFFFFF;
}

.history-body__body {
	height: 524px;
	overflow-x:auto;
    padding-right: 25px;
}

.history-body__body table {
    border-spacing: 0;
}

.history-body__body tbody td {
    padding-left: 7px;
    padding-top: 4px;
    padding-bottom: 6px;
}

.history-body__body tbody tr td:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.history-body__body tbody tr td:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.history-body__body tbody tr:hover,
.history-body__body tbody tr:focus {
    background-color: #EBEBEB;
}

::-webkit-scrollbar {
	width: 6px;
} 
::-webkit-scrollbar-track {
    background-color: #EBEBEB;
    border-radius: 14.5px;
}
::-webkit-scrollbar-thumb {
    background: #BBBBBB;
    border-radius: 14.5px; 
}

.table-item {
    margin-top: 12px;
}

.table-item--open {
    background-color: #EBEBEB;
    border-radius: 16px;
}

.table-item--open .contact-card {
    display: flex;
    flex-direction: column;

    font-size: 16px;
    line-height: 21px;

    background: #EBEBEB;
    padding-left: 58px;
    border-radius: 16px;
}

.call-icon {
    font-size: 10px;
    position: relative;
    margin-left: 40px;
}

.call-icon::before {
    content: "";

    position: absolute;
    top: 0px;
    left: -25px;
    width: 10px;
    height: 10px;

    background-image: url(./images/mini-call-icon.png);
}

.call-icon--outgoing::after {
    content: "";

    position: absolute;
    top: 0;
    left: -13px;
    width: 10px;
    height: 10px;

    background-image: url(./images/incoming-call.png);
}

.call-icon--incoming::after {
    content: "";

    position: absolute;
    top: 0;
    left: -13px;
    width: 10px;
    height: 10px;

    background-image: url(./images/outgoing-call.png);
}

.contact-card .contact-card__title {
    text-align: end;
    margin: 0;
    margin-right: 16px;
    font-size: 13px;
    line-height: 17px;
}

.contact-card__info {
    display: flex;
}

.info__avatar {
    margin-right: 80px;
}

.info__avatar ul {
    display: flex;
    justify-content: center;
}

.info__avatar ul li {
    margin-right: 17px;
}

.info__avatar ul li:last-child {
    margin-right: 0;
}

.info__avatar .avatar {
    border-radius: 20px;
}

.contact__content {
    margin-right: 20px;
}

.contact__content-wrapper {
    display: flex;
    border-bottom: 1px solid #000000;
}

.contact__content-info ul {
    display: flex;
}

.contact__content-info ul li:nth-child(1) {
    width: 115px;
    text-align: end;
}

.contact__content-info ul li:nth-child(2) {
    width: 200px;
    text-align: start;
    margin-left: 50px;
}

.contact__content-info ul li:nth-child(3) {
    width: 60px;
    margin-left: 130px;
}

.contact__content-info .additional-info {
    position: relative;
}

.contact__content-info .drop-down {
    border: none;
    width: 10px;
    height: 17px;
    margin-right: 20px;
    background-image:url("./images/down-arrow.png");
    background-repeat: no-repeat;
}

.contact__content-info .info {
    border: none;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    background-image:url("./images/info-icon.png");
    background-repeat: no-repeat;
}

.contact__content-audio {
    margin-left: 60px;
    margin-top: 18px;

    font-size: 16px;
    line-height: 20px;
}

.contact__content-audio p {
    margin: 0;
}

.audio-wrapper {
    display: flex;
    margin-top: 13px;
    margin-bottom: 18px;
}

.contact__content-audio .play-control {
    content: "";
    border: none;
    width: 17px;
    height: 20px;
    background-image: url("./images/play-control.png");
    background-repeat: no-repeat;

    margin-right: 5px;
}

.contact__content-audio .play {
    content: "";
    border: none;
    width: 142px;
    height: 10px;
    background-image: url("./images/audio-track.png");
    background-repeat: no-repeat;

    margin-right: 15px;
    margin-top: 4px;
}

.conversation {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.conversation div {
    display: flex;
    margin-bottom: 19px;
}

.conversation label {
    margin-right: 10px;
}

.conversation textarea {
    resize: none;
}

.conversation input,
.conversation textarea {
    padding: 5px;
    min-width: 300px;
    height: 26px;
    border: none;
    background: #FFFFFF;
    border-radius: 20px;
}

.conversation__first-column {
    flex-direction: column;
    width: 485px;
}

.conversation__first-column div {
    justify-content: space-between;
    margin-right: 40px;
}

.conversation__second-column {
    height: 30px;
}

.conversation__second-column input {
    border: none;
    background: #FFFFFF;
    border-radius: 20px;
    width: 205px;
}

.contact-card__change-button {
    text-align: end;
    margin: 0;
    margin-right: 16px;
    margin-bottom: 25px;
}

.contact-card__change-button button {
    width: 155px;
    height: 26px;
    border: none;
    background: #BBBBBB;
    border-radius: 15px;
}